<!DOCTYPE html>
<html>

<head>
	<title>Soil Mechanics Laboratory Management System</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('dashboard') }}">Dashboard</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ session.email }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">View Profile</a>
                            <a class="dropdown-item" href="#">Edit Profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
	<div class="container" style="min-height:500px;">
		<div class="wrapper">
			<div class="sidebar" data-background-color="black" data-active-color="danger">
				<div class="sidebar-wrapper" id="sideLinks">
					<div class="logo">
						<a href="{{ url_for('dashboard') }}" class="simple-text">
							Soil Mechanics Laboratory Management
						</a>
					</div>
					<ul class="nav">
						<li class="" id="dashboard">
							<a href="{{ url_for('dashboard') }}" class="menu-link">
								<i class="ti-dashboard"></i>
								<p>Dashboard</p>
							</a>
						</li>
						<li id="students">
							<a href="{{ url_for('student') }}" class="menu-link">
								<i class="ti-user"></i>
								<p>Student</p>
							</a>
						</li>
						<li id="classes">
							<a href="{{ url_for('classes') }}" class="menu-link">
								<i class="ti-crown"></i>
								<p>Classes</p>
							</a>
						</li>
						<li id="sections">
							<a href="{{ url_for('sections') }}" class="menu-link">
								<i class="ti-crown"></i>
								<p>Sections</p>
							</a>
						</li>
						<li id="teacher">
							<a href="{{ url_for('teacher') }}" class="menu-link">
								<i class="ti-home"></i>
								<p>Teacher</p>
							</a>
						</li>
						<li id="subjects">
							<a href="{{ url_for('subject') }}" class="menu-link">
								<i class="ti-home"></i>
								<p>Subjects</p>
							</a>
						</li>
						<li id="attendance">
							<a href="{{ url_for('attendance') }}" class="menu-link">
								<i class="ti-bar-chart-alt"></i>
								<p>Attendance</p>
							</a>
						</li>
						<li id="attendance_report">
							<a href="{{ url_for('report') }}" class="menu-link">
								<i class="ti-bar-chart-alt"></i>
								<p>Attendance Report</p>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="main-panel">
			<div class="content">
				<div class="container-fluid">
					<div class="row"><!--row begins-->
						<div class="col-lg-3 col-sm-6">
							<div class="card">
								<div class="content">
									<div class="row">
										<div class="col-xs-5">
											<div class="icon-big icon-warning text-center">
												<i class="ti-user"></i>
											</div>
										</div>
										<div class="col-xs-7">
											<div class="numbers">
												<p><strong>Students</strong></p>
											</div>
										</div>
									</div>
									<a href="{{ url_for('student') }}">
										<div class="footer">
											<hr />
											<div class="stats">
												<i class="ti-arrow-right"></i>View
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-sm-6">
							<div class="card">
								<div class="content">
									<div class="row">
										<div class="col-xs-5">
											<div class="icon-big icon-info text-center">
												<i class="ti-id-badge"></i>
											</div>
										</div>
										<div class="col-xs-7">
											<div class="numbers">
												<p><strong>Teachers</strong></p>
											</div>
										</div>
									</div>
									<a href="{{ url_for('teacher') }}">
										<div class="footer">
											<hr />
											<div class="stats">
												<i class="ti-arrow-right"></i>View
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-sm-6">
							<div class="card">
								<div class="content">
									<div class="row">
										<div class="col-xs-5">
											<div class="icon-big icon-success text-center">
												<i class="ti-crown"></i>
											</div>
										</div>
										<div class="col-xs-7">
											<div class="numbers">
												<p><strong>Classes</strong></p>
											</div>
										</div>
									</div>
									<a href="{{ url_for('classes') }}">
										<div class="footer">
											<hr />
											<div class="stats">
												<i class="ti-arrow-right"></i>View
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div><!--row ends-->
					<!--row begins-->
					<div class="row">
						<div class="col-lg-3 col-sm-6">
							<div class="card">
								<div class="content">
									<div class="row">
										<div class="col-xs-5">
											<div class="icon-big icon-warning text-center">
												<i class="ti-harddrives"></i>
											</div>
										</div>
										<div class="col-xs-7">
											<div class="numbers">
												<p><strong>Subjects</strong></p>
											</div>
										</div>
									</div>
									<a href="{{ url_for('subject') }}">
										<div class="footer">
											<hr />
											<div class="stats">
												<i class="ti-arrow-right"></i>View
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-sm-6">
							<div class="card">
								<div class="content">
									<div class="row">
										<div class="col-xs-5">
											<div class="icon-big icon-success text-center">
												<i class="ti-crown"></i>
											</div>
										</div>
										<div class="col-xs-7">
											<div class="numbers">
												<p><strong>Sections</strong></p>
											</div>
										</div>
									</div>
									<a href="{{ url_for('sections') }}">
										<div class="footer">
											<hr />
											<div class="stats">
												<i class="ti-arrow-right"></i>View
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-sm-6">
							<div class="card">
								<div class="content">
									<div class="row">
										<div class="col-xs-5">
											<div class="icon-big icon-danger text-center">
												<i class="ti-blackboard"></i>
											</div>
										</div>
										<div class="col-xs-7">
											<div class="numbers">
												<p><strong>Attendance</strong></p>
											</div>
										</div>
									</div>
									<a href="{{ url_for('attendance') }}">
										<div class="footer">
											<hr />
											<div class="stats">
												<i class="ti-arrow-right"></i>View
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>